body {
    position: relative;
    background-image: url("../img/Tiles/tile_73.png");
    margin: 0;
}

#login {
    margin: auto;
    width: 50%;
    background-color: #ffffffc4;
    border: solid 2px #000000;
    border-radius: 15px;
    text-align: -webkit-center;
    margin-top: 200px;
}

#playButton {
    margin-top: 5px;
    margin-bottom: 5px;
}

canvas {
    position: absolute;
}
